@font-face {font-family: fontgoogle; src: url(./Product\ Sans\ Regular.ttf);}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 7px;
    height: 100%;
}
.icones{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 17px;
    flex-wrap: wrap;
    flex-direction: row;
}
header p{
    font-size: 16px;
}
header img{
    width: 25px;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
    gap: 20px;
}

.google{
    font-size: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.caixa{
    border: solid;
    border-radius: 25px;
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    gap: 10px;
}
.caixa img{
    width: 20px;
}
.caixa input{
    width: 250px;
    border: transparent;
    outline: none;
    height: 100%;
}
.botao{
    flex-direction: row;
    display: flex;
    gap: 20px;
    border: transparent;
}
.botao button{
    background-color: whitesmoke;
    border: transparent;
    height: 30px;
    color: black;
}
footer{
    height: 100%;
    gap: 30px;
    bottom: 0;
}
.conjunto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    border-top: 1px solid;
    border-color: rgb(170, 170, 170);
    margin-top: 0px;
    width: 100%;
    background-color: rgb(219, 219, 219);
}

.Brasil{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(219, 219, 219);
}
a{
    color: black;
    text-decoration: none;
    margin: 10px;
    width: 5px;
}