@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(238, 238, 238);
}
header{
    background-color: rgb(9, 77, 9);
    color: white;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100px;
    align-items: center;
}
header h1{
    font-size: 20px;
}
.caixas{
    display: flex;
    justify-content: space-around;
    flex-direction: row;    
    align-items: center;
    background-color: rgb(9, 77, 9);
    width: 100vw;
    height: 50px;
    margin-bottom: 60px;
    gap: 10px;
}
.caixas p{
    text-align: justify;
    font-weight: bold;
}
.entrada{
    background-color: white;
    width: 300px;
    height: 100px;
    border-radius: 2px;
    transition: 1s;
    padding-left: 10px;
}
.entrada:hover{
    transform: scale(1.2);
}
.saida{
    background-color: white;
    width: 300px;
    height: 100px;
    border-radius: 2px;
    transition: 1s;
    padding-left: 10px;
}
.saida:hover{
    transform: scale(1.2);
}
.total{
    background-color: rgb(14, 192, 14);
    color: rgb(0, 0, 0);
    width: 300px;
    height: 100px;
    border-radius: 2px;
    transition: 1s;
    padding-left: 10px;
}
.total:hover{
    transform: scale(1.2);
}
.entrada-cima{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.saida-cima{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.total-cima{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.total img{
    width: 30px;
    margin-top: 5px;
}
.entrada img{
    width: 30px;
    margin: 5px;
}
.saida img{
    width: 30px;
    margin: 5px;
}
.total-cima h2{
    font-size: 15px;
    margin: 5px;
}
.total p{
    margin-top: 5px;
}
.entrada-cima h2{
    font-size: 15px;
    margin: 5px;
}
.saida-cima h2{
    font-size: 15px;
    margin: 5px;    
}
.inserir{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 70vw;
    margin-bottom: 50px;
}
.inserir button{
    background-color: transparent;
    color: rgb(14, 192, 14);
    border: 0px;
    cursor: pointer;
    font-weight: bold;
}
.inserir input{
    border: transparent;
    font-weight: bold;
    padding: 4px;
}
.inserir button:hover{
    color: rgb(8, 219, 8);
}
.tabela{
    gap:45px;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    width: 70%;
    border-collapse: separate;
    border-spacing: 0 10px;
}
.tabela img{
    width: 25px;
    cursor: pointer;
}
th{
    width: 25%;
}
.linha{
    background-color: rgb(255, 255, 255);
    height: 50px;
}
td{
    background-color: rgb(255, 255, 255);
    height: 50px;
}
main{
    display: flex;
    justify-content: center;
}
.numero-entrada p{
    color: rgb(14, 192, 14);
}
.numero-saida p{
    color: red;
}

@media screen and (max-width:770px) {
    .caixas{
       flex-direction: column;
       padding-top: 100px;
    }
    .inserir{
        flex-direction: column;
        padding-top: 100px;
        width: 50%;
        align-items: center;
        gap: 30px;
        margin:0;
    }
    .form{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
@media screen and (max-width:500px) {
    .linha{
        gap: 50px;
    }
}